version: '3.9'

services:
  app-nest:
    container_name: nest-js
    build: 
      context: .
    networks:
      frontend:
          ipv4_address: 172.18.18.11
      backend:
          ipv4_address: 172.20.0.11
    env_file:
      - .env.development
    depends_on:
      - db
      - redis
    ports:
      - '3000:3000'
    command: ['npm','start']

  db:
    container_name: db-nest
    image: postgres:12-alpine
    env_file:
     - .env
    ports:
      - '5434:5432'
    networks:
      backend:
          ipv4_address: 172.20.0.12
    volumes:
      - pgdata:/var/lib/postgresql/data
    
  redis:
    container_name: redis-nest
    image: redis:alpine
    networks:
      backend:
          ipv4_address: 172.20.0.13
    ports:
      - '6379:6379'

  redis-commander:
    image: rediscommander/redis-commander:latest
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - '8081:8081'
    networks:
      frontend:
        ipv4_address: 172.18.18.10
      backend:
        ipv4_address: 172.20.0.14
    depends_on:
        - redis

  proxy:
    container_name: webproxy
    build:
      context: .
      dockerfile: proxy
    restart: unless-stopped
    tty: true
    volumes:
      - ./nginx-conf/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - '80:80'
    networks: 
      frontend:
          ipv4_address: 172.18.18.13

volumes:
  pgdata:

networks:
  frontend:
    ipam:
      config:
        - subnet: 172.18.18.0/24
  backend:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24
