version: '3.4'

services:
  app-nest:
    image: 'node:latest'
    container_name: nest-js
    build:
      context: .
    #network_mode: host
    networks: 
      - front-network
      - back-network
    env_file:
      - .env
    depends_on:
      - db-nest
    ports:
      - '3000:3000'
    command: 'npm start'

  db-nest:
    container_name: db-nest
    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: username
      POSTGRES_DB: database
      PG_DATA: /var/lib/postgresql/data
    ports:
      - '5432:5432'
    networks: 
        - back-network
    volumes:
      - pgdata:/var/lib/postgresql/data

  proxy:
    image: nginx:alpine
    container_name: webproxy
    build:
      context: .
      dockerfile: proxy
    restart: unless-stopped
    tty: true
    networks: 
      - front-network
      - back-network
    volumes: 
      - ./nginx-conf/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "8005:80"

networks:
  back-network:
  front-network:
    external: true
volumes:
  pgdata:
