version: '3.9'

services:
  app-nest:
    container_name: nest-js
    build: 
      context: .
    networks:
      - frontend
      - backend
    env_file:
      - .env
    depends_on:
      - db-nest
    ports:
      - '3000:3000'
    command: ['npm','start']

  db-nest:
    container_name: db-nest
    image: postgres:12-alpine
    environment:
     - .env
    ports:
      - '5432:5432'
    networks:
      - backend
    volumes:
      - pgdata:/var/lib/postgresql/data


  proxy:
    container_name: webproxy
    build:
      context: .
      dockerfile: proxy
    restart: unless-stopped
    tty: true
    volumes:
      - ./nginx-conf/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "8005:80"
    networks: 
      - frontend

volumes:
  pgdata:

networks:
  frontend:
    external: true
  backend:
    driver: bridge
